* {
  margin: 0;
  padding: 0;
}
nav {
  ul {
    display: flex;
    list-style-type: none;
    width: max-content;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
  }
  ul li::before {
    content: url("/static/arrow.svg?width=10px");
  }
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  text-align: center;
  margin: 50px 0;
}
label {
  display: block;
  width: max-content;
  margin: 40px auto;
}
form label:last-of-type {
  margin: 40px auto 10px auto;
}
form p {
  margin: 10px auto 40px auto;
}
form button {
  display: block;
  width: 70px;
  height: 30px;
  background-color: blue;
  color: white;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
}
h2 {
  text-align: center;
  margin: 30px 0;
  color: red;
}
.errors p {
  text-align: center;
}
