* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  ul {
    display: flex;
    list-style-type: none;
    width: max-content;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
  }
  ul li::before {
    content: url("/static/arrow.svg?width=10px");
  }
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  text-align: center;
  margin: 50px 0;
  font-weight: 600;
}
h2 {
  text-align: center;
  margin: 100px 0;
  font-weight: normal;
}
.category {
  background-color: #a8a29e;
  width: min(500px, calc(100% - 20px));
  height: 100px;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: normal;
}
.category:hover {
  cursor: pointer;
}
